{% extends 'base/base.html' %}
{% block header %}
  <center>
    <h4 class="text-info">Bienvenido {{ user.username }} </h4>
  </center>
  {% endblock %}
{% block content %}
  {% if perms.main.is_manager %}
  <div class="list-group">
     <center>
     <div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
      	<div class="card-header">Productos</div>
      	<a href="{% url 'main:product-list' %}" class="list-group-item list-group-item-action">Ver Productos</a>
  		  <a href="{% url 'main:product-create' %}" class="list-group-item list-group-item-action">Agregar Producto</a>
	  </div>
    </center>
    <center>
	  <div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
        <div class="card-header">Proveedores</div>
    	  <a href="{% url 'main:provider-list' %}" class="list-group-item">Ver Proveedores</a>
  		  <a href="{% url 'main:provider-create' %}" class="list-group-item">Agregar Proveedor</a>
	  </div>
    </center>
    <center>
	  <div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
      	<div class="card-header">Solicitudes</div>
    	  <a href="{% url 'main:quotation-list' %}" class="list-group-item">Ver Solicitudes</a>
  		  <a href="{% url 'main:quotation-create' %}" class="list-group-item">Crear Solicitud</a>
	  </div>
    </center>
    <center>
    <div class="card text-white bg-primary mb-3"style="max-width: 50rem;">
        <div class="card-header">Cotizaciones</div>
        <a href="{% url 'main:quotationdetails-list' %}" class="list-group-item">Ver Cotizaciones de Proveedor</a>
    </div>
  </div>
    {% else %}
      {% if perms.main.is_provider %}
        <center>
  	    <div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
    	    <div class="card-header">Solicitudes</div>
    	    <a href="{% url 'main:quotation-list' %}" class="list-group-item">Ver Solicitudes disponibles </a>
	      </div>
        </center>
      {%else%}
          {% if perms.main.is_applicant %}
            <center>
  	        <div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
    	        <h1>Ordenes de Compra</h1>
    	        <a href="{% url 'main:quotation-list' %}" class="list-group-item">Ver Solicitudes disponibles </a>
    	        <a href="{% url 'main:quotation-create' %}" class="list-group-item"> Crear Nueva Solicitud de Compra </a>
	          </div>
          {% else %}
  	        <h2>Login required</h2>
          {% endif %}
      {% endif %}
  {% endif %}
{% endblock %}