{% extends 'base/base.html' %}
{% block header %}
  <h3>Bienvenido {{ user.username }} </h3>
  {% endblock %}
{% block content %}
  {% if perms.main.is_manager %}
     <div class="list-group">
      	<h1>Productos</h1>
      	<a href="{% url 'main:product-list' %}" class="list-group-item">Ver Productos</a>
  		  <a href="{% url 'main:product-create' %}" class="list-group-item">Agregar Producto</a>
	  </div>
	  <div class="list-group">
      	<h1>Proveedores</h1>
    	  <a href="{% url 'main:provider-list' %}" class="list-group-item">Ver Proveedores</a>
  		  <a href="{% url 'main:provider-create' %}" class="list-group-item">Agregar Proveedor</a>
	  </div>
	  <div class="list-group">
      	<h1>Cotizaciones</h1>
    	  <a href="{% url 'main:quotation-list' %}" class="list-group-item">Ver Ordenes de Compra</a>
  		  <a href="{% url 'main:quotation-create' %}" class="list-group-item">Crear Orden</a>
	  </div>
    {% else %}
      {% if perms.main.is_provider %}
  	    <div class="list-group">
    	    <h1>Cotizaciones</h1>
    	    <a href="{% url 'main:quotation-list' %}" class="list-group-item">Ver Ordenes de Compra disponibles </a>
	    </div>
      {%else%}
          {% if perms.main.is_applicant %}
  	        <div class="list-group">
    	        <h1>Crear Orden de Compra</h1>
    	        <a href="{% url 'main:quotation-list' %}" class="list-group-item">Ver Ordenes de Compra disponibles </a>
    	        <a href="{% url 'main:quotation-create' %}" class="list-group-item"> Crear Nueva Orden de Compra </a>
	          </div>
          {% else %}
  	        <h2>Login required</h2>
          {% endif %}
      {% endif %}
  {% endif %}
{% endblock %}