{% extends 'base/base.html' %}
{% block content %}
<table class="table table-bordered">
	<thead>
 	<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Marca</td>
			<td>descripcion</td>
			<td>Administrar</td>
		</tr>

 </thead>
 <tbody>
 	{% if object_list %}
 	{% for product in object_list %}
 	<tr>
 		<td>{{ product.id }}</td>
 		<td>{{ product.name }}</td>
 		<td>{{ product.brand }}</td>
 		<td>{{ product.description }}</td>
 		<td>
  			<a href="{% url 'main:product-edit' product.id %}" class="btn btn-primary">Editar</a>
  			<a href="{% url 'main:product-delete' product.id %}" class="btn btn-danger">Eliminar</a> 
  		</td>
 	</tr>
 	{% endfor %}
 </tbody>
</table>
 {% else %}
  <h4> not exist providers</h4>
 {% endif %}
 {% endblock %} }
}
