{% extends 'base/base.html' %}
{% block header %}
   <h3>Productos</h3>
{% endblock %}
{% block content %}
    <form method="GET" autocomplete="off">
    	{% csrf_token %}
    <div class="form-group row">
    <label class=col-1 col-form-label" for="textSearch">Buscar</label>
    <input id="search" name="name" type="text" class="form-control col-6" id="textSearch" placeholder="nombre">
    <label>________</label>
    <a href="{% url 'main:product-create' %}"><input type="button" value="Crear nuevo" class="btn btn-success"></a>

  </div>
  	</form>
    <table id='table' class='table table-bordered'>
	    <thead>
 	        <tr>
			    <td>#</td>
			    <td>Nombre</td>
			    <td>Marca</td>
			    <td>descripcion</td>
			    <td>Administrar</td>
		    </tr>
        </thead>
        <tbody>
 	    {% if object_list %}
 	    {% for product in object_list %}
 	        <tr id="{{product.id}}" class='tr-product'>
 		        <td>{{ product.id }}</td>
 		        <td>{{ product.name }}</td>
 		        <td>{{ product.brand }}</td>
 		        <td>{{ product.description }}</td>
 		        <td>
  			        <a href="{% url 'main:product-update' product.id %}" data-href="{% url 'main:product-update' product.id %}" class='product-update'><i class="ti-pencil" title='Editar' data-toggle="tooltip"
                        data-placement="top"></i></a> 
  			        <a href='#' data-href="{% url 'main:product-delete' product.id %}"
                     class='product-delete' data-placement="top" data-btn-ok-label="Si" data-btn-ok-class="btn-success"
                     data-btn-cancel-label="No" data-btn-cancel-class="btn-danger"
                     data-title="¿Estas seguro? " data-content="No podras deshacer esta accion" ><i
                        class="ti-trash" title='Borrar'
                        data-toggle="tooltip"  style='color: red;' ></i></a>
  		        </td>
 	        </tr>
 	    {% endfor %}
        </tbody>
    </table>
        <h4 id='no-exist' style='display:none;'>ningun producto concuerda con tu busqueda</h4>
        {% else %}
            <h4> </h4>
        {% endif %}
    <script>
  function setup_list(ctx) {
    return function () {
      var $productdelete = $('.product-delete', ctx);
        $productdelete.confirmation({
        placement: 'right',
        onConfirm: function () {
          var $this = $(this);
          $.post($this.data('href'), {csrfmiddlewaretoken: Cookies.get('csrftoken')}, function () {
            $this.parent().parent().remove();
          });
          return false;
      }});
    };
  }
  $(setup_list(document));
</script>
    <script>
        $("#search").keyup(function() {
            let qs = $("#search").val()
            $.ajax({
                url: '{% url "main:product-ajax" %}',
                type: 'GET',
                dataType: 'json',
                data: {"qs":qs},
            })
            .done(function(data) {
            if(jQuery.isEmptyObject(data)){
            	$('#no-exist').show();
            	$('.tr-product').hide();
            }else{
            	$('#no-exist').hide();
            	$('.tr-product').hide();
            	for(let i of data){
                    $('#'+i['id']).show();
                }
            }
        })
        .fail(function() {
            console.log("error");
        })
        .always(function() {
            console.log("complete");
        });
        });

    </script>
 {% endblock %} 




