{% extends 'base/base.html' %}
{% block header %}
   <h3>Solicitudes</h3>
{% endblock %}
{% block content %}
<div><a href="{% url 'main:provider-create' %}"><input type="button" value="Crear nuevo" class="btn btn-success"></a>
<div><p></p></div>
</div>
<table class="table table-bordered">
	<thead>
 	<tr>
			<td>#</td>
			<td>cantidad</td>
			<td>Producto</td>
			<td>Activa</td>
		{% if perms.main.is_manager or perms.main.is_applicant %}	
			<td>Administrar</td>
		{% else %}
		    <td>Enviar Cotización</td>
		{% endif %}
		</tr>

 </thead>
 <tbody>
 	{% if object_list %}
 	{% for quotation in object_list %}
 	{% if perms.main.is_manager or perms.main.is_applicant %}
 	<tr>
 		<td>{{ quotation.id }}</td>
 		<td>{{ quotation.quantity }}</td>
 		<td>{{ quotation.product }}</td>
 		<td>{% if quotation.is_active  %}
 			Activa
 			{% else %}
 			Finalizada
 			{% endif %}
 		</td>
 		<td>
  			<a href="{% url 'main:quotation-update' quotation.id %}" data-href="{% url 'main:quotation-update' quotation.id %}" class='quotation-update'><i class="ti-pencil" title='Editar' data-toggle="tooltip"
                        data-placement="top"></i></a> 
  			<a href='#' data-href="{% url 'main:quotation-delete' quotation.id %}"
            class='quotation-delete' data-placement="top" data-btn-ok-label="Si" data-btn-ok-class="btn-success"
            data-btn-cancel-label="No" data-btn-cancel-class="btn-danger"
            data-title="¿Estas seguro? " data-content="No podras deshacer esta accion" ><i
            class="ti-trash" title='Borrar'
            data-toggle="tooltip"  style='color: red;' ></i></a>
            <a href="{% url 'main:quotationdetails-list' quotation.id %}" data-href="{% url 'main:quotation-update' quotation.id %}" class='quotation-update'><i class="ti-view-list-alt" title='Ver Propuestas' data-toggle="tooltip"
                        data-placement="top" style="color:blue;"></i></a> 

  		</td>
 	</tr>
 		{% else %}
 		  {% if perms.main.is_provider%}
 		    {% if quotation.is_active  %}
 		    <tr>
 		      <td>{{ quotation.id }}</td>
 		      <td>{{ quotation.quantity }}</td>
 		      <td>{{ quotation.product }}</td>
 		      <td>Disponible</td>
 		      <td> <a href="{% url 'main:quotationdetails-create' quotation.id %}">Realizar Propuesta</a></td>
 		    </tr>
 		  {% endif %}  
 		  {% endif %}
    {% endif %}
 	
 	{% endfor %}
 </tbody>
</table>
 {% else %}
  <h4> not exist providers</h4>
 {% endif %}
 <script>
  function setup_list(ctx) {
    return function () {
      var $quotationdelete = $('.quotation-delete', ctx);
        $quotationdelete.confirmation({
        placement: 'right',
        onConfirm: function () {
          var $this = $(this);
          $.post($this.data('href'), {csrfmiddlewaretoken: Cookies.get('csrftoken')}, function () {
            $this.parent().parent().remove();
          });
          return false;
      }});
    };
  }
  $(setup_list(document));
</script>
{% endblock %} 