{% extends 'base/base.html' %}
{% load staticfiles %}
{% block header %}
   <h3>Cotizaciones</h3>
{% endblock %}
{% block content %}
<table class="table table-bordered">
	<thead>
 	<tr>
			<td>#</td>
			<td>Cotizacion</td>
			<td>Proveedor</td>
			<td>Precio</td>
      <td>Archivo</td>
			<td>Administrar</td>
		</tr>

 </thead>
 <tbody>
 	{% if object_list %}
 	{% for quotation_details in object_list %}
 	<tr>
 		<td>{{ quotation_details.id }}</td>
 		<td>{{ quotation_details.quotation }}</td>
 		<td>{{ quotation_details.provider }}</td>
 		<td>{{ quotation_details.price }}</td>
    <td>{% if quotation_details.docfile %}
    <center><a href="{{ quotation_details.docfile.url }}" class="file_view"><i class="ti-eye" ></i></a></center>
    {% endif %}
    </td>
 		<td>
 			{%  if perms.main.is_manager and quotation_details.quotation.is_active %}
              <a href="" data-href="{% url 'main:quotationdetails-authorize' quotation_details.id %}" class="quotation_authorized"><i class="ti-check"></i></a>
 			{% else %}
 			  {% if quotation_details.quotation.is_active %}
  			  <a href="{% url 'main:quotationdetails-update' quotation_details.id%}" class="btn btn-primary">Editar</a>
  			  <a href="{% url 'main:quotationdetails-delete' quotation_details.id%}" class="btn btn-danger">Eliminar</a> 
  			  {% else %}
          {% if quotation_details.is_authorized %}
          <p class="text-success">Autorizada</p>
          {% else %}
  			   <p class="text-danger">Rechazada</p>
          {% endif %}
  			 {% endif %}
  			{% endif %}
  		</td>
 	</tr>
 	{% endfor %}
 </tbody>
</table>
<script>
  function setup_list(ctx) {
    return function () {
      var $file_view = $('.file_view', ctx),
          $quotation_authorized = $('.quotation_authorized', ctx);
      $quotation_authorized.confirmation({
        placement: 'right',
        onConfirm: function () {
          var $this = $(this);
          $.post($this.data('href'), {csrfmiddlewaretoken: Cookies.get('csrftoken')}, function () {
            location.reload();
          });
          return false;
      }});
      $file_view.click(function () {
        var $this = $(this);
        $('#image-content').attr('src', $(this).href);
        $('#myModal').modal();
        return false;
      });
    };
  }
  $(setup_list(document));
</script>
 {% else %}
  <h4> No hay propuestas para esta solicitud</h4>
 {% endif %}
 {% endblock %} 
