{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>



<link rel="stylesheet" type="text/css" href="{% static '/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/bootstrap.min.css' %}">




	<title>{% block title %}Quotations{% endblock %}</title>
</head>
<body>
	    
    {% block navbar %}
	    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'main:main' %}">Cotizaciones</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'main:main' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
     <a class="nav-link" href="{% url 'logout' %}">Cerrar sesion</a>
    </form>
  </div>
</nav>
	{% endblock %}

	{% block header %}
	<h3>Quotations</h3>
	{% endblock %}

	{% block content %}
	<h5>Content Page</h5>
	{% endblock %}

	
	<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>